#app {
  background-color: #684b40;
  padding: 1rem;
  font-family: "Pangolin";
}

#board {
  background-image: url(/images/board.png?7ea4603285f8c376f8ba96f2b79a3235);
  min-height: 100vh;
  padding: 3rem;
  background-size: cover;
  position: relative;
}

h1 {
  font-size: 5em;
}

.page-title {
  color: #fff;
  text-align: center;
}

input:focus, button:focus, a:focus {
  outline: none;
}

#page-content .auth-form {
  margin: 0 auto;
  width: min(100%, 30rem);
  margin-top: 5rem;
  padding: 0 3rem;
}
#page-content .auth-form input {
  width: 100%;
  margin-bottom: 1rem;
  padding: 1rem;
  font-size: 2rem;
  border-radius: 0.5rem;
  padding-left: 3rem;
}

.achievement, .item {
  position: relative;
  cursor: pointer;
  height: 300px;
}
.achievement width img, .item width img {
  height: 100%;
  -o-object-position: center;
     object-position: center;
  margin: 0 auto;
}
.achievement:after, .item:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border: 10px solid white;
  opacity: 0.2;
}

.page-topbar {
  display: flex;
  justify-content: space-between;
}
.page-topbar .user__avatar img {
  -o-object-fit: contain;
     object-fit: contain;
}
.page-topbar .user-gold {
  display: flex;
  font-weight: bold;
  color: #fff;
  font-size: 2rem;
}
.page-topbar .user-gold img {
  margin-right: 1rem;
}

.item {
  background-color: #828282;
}
.item .max {
  position: absolute;
  top: 17px;
  left: 20px;
  color: white;
  font-size: 2rem;
}
.item .price {
  position: absolute;
  display: flex;
  align-items: center;
  bottom: -20px;
  right: -20px;
  background-image: url(/images/scribble/shop.png);
  background-size: cover;
  padding: 1rem 3rem;
  z-index: 3;
}
.item .price .the-price {
  color: #ff9137;
  font-size: 2rem;
}

.achievement {
  overflow: hidden;
}
.achievement .locked {
  display: none;
}
.achievement .locked img {
  position: absolute;
  left: 50%;
  right: 50%;
  bottom: 50%;
  top: 50%;
  z-index: 5;
  transform: translate(-50%, -50%);
}
.achievement:not(.unlocked) .locked {
  display: block;
}
.achievement:not(.unlocked):before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(50, 50, 50, 0.95);
}

.page-home .content .container {
  background-image: url(/images/scribble/home.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.page-choose-gender img {
  height: 50rem;
  margin: 0 auto;
  transition: all 0.2s;
}
.page-choose-gender button:hover img {
  transform: scale(1.05) translateY(-10px);
}

.btn-primary {
  padding: 0.1rem 2rem;
  font-size: 2rem;
  background-color: #ff8f3d;
  border: 2px solid #ff7f21;
}
