
#app {
    background-color: #684b40;
    padding: 1rem;
    font-family: 'Pangolin';
}
#board {
    background-image: url('./../images/bg/board.png');
    min-height: 100vh;
    padding: 3rem;
    background-size: cover;
}
h1 {
    font-size: 5em;
}
.page-title {
    color: #fff;
    text-align: center;
}
input:focus,button:focus,a:focus {
    outline: none;
}
#page-content {
    .auth-form {
        margin: 0 auto;
        width: min(100%, 30rem);
        margin-top: 5rem;
        padding: 0  3rem;
    }
    .auth-form input {
        width: 100%;
        margin-bottom: 1rem;
        padding: 1rem;
        font-size: 2rem;;
        border-radius: .5rem;
        padding-left: 3rem;
    }
}
.achievement {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    height: 300px;
    width
    img {
        height: 100%;
        object-position: center;
        margin: 0 auto;
    }
    .locked {
        display:none;
        img {
            position: absolute;
            left: 50%;
            right: 50%;
            bottom: 50%;
            top: 50%;
            z-index: 5;
            transform: translate(-50%,-50%);
        }
    }
    &:not(.unlocked) {
        .locked {
            display: block;
        }
        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            width: 100%;
            height: 100%;
            
            background-color: rgba(50,50,50,.95)
        }
    }

    &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
        border: 10px solid white;
        opacity: .2
    }
}

.page-home {
    .content .container {
        background-image: url(/images/scribble/home.png);
        background-repeat: no-repeat;
        background-size: contain;
    }
}
.btn-primary {
    padding: .1rem 2rem;
    font-size: 2rem;
    background-color: #ff8f3d;
    border: 2px solid #ff7f21;
}