/* CSS For Max-width 352px) */
@media (max-width: 352px) {

    /* ==== CSS FOR ALL PAGE ==== */
    p {
        font-size: 18px;
    }

    /* Navbar */
    .navbar {
        background-image: url('../images/background-img/bg-header.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.25);
    }

    /* Jumbotron height for extra small device */
    .jumbotron {
        height: 350px;
    }

    .jumbotron-homepage-img {
        width: 450px;
        margin-top: 15px;
    }


    /* ==== CSS FOR INDEX.HTML ==== */
    /* index.html : Jumbotron */
    .scroll-down {
        margin-top: -75px;
    }

    .scroll-down-icon-img {
        width: 100px;
    }

    /* index.html : Subject */
    .subject-img {
        width: 85vw;
    }

    .subject-go-img {
        width: 85px;
        margin-left: 215px;
        margin-bottom: -35px;
    }

    .subject-scribbles-img {
        width: 150px;
    }

    /* index.html : About and Contact */
    .about-and-contact {
        height: 900px;
    }

    .socmed {
        font-size: 18px;
    }

    .about-and-contact-triangle {
        width: 150px;
        margin-left: 135px !important;
        margin-top: 15px;
    }

    /* index.html : Footer */
    .footer {
        height: 70px;
    }

    /* ==== CSS FOR DASAR-ALJABAR.HTML ==== */
    /* Jumbotron Dasar Aljabar */
    .jumbotron-dasar-aljabar-img {
        width: 300px;
        margin-top: 45px;
    }

    /* dasar-aljabar.html : Do You Know (Part One) */
    .do-you-know-girl-img {
        width: 100%;
    }

    /* dasar-aljabar.html : Do You Know (Part Two)*/
    .do-you-know-boy-with-ruler-img {
        width: 100%;
    }

    .do-you-know-scribbles-img-top {
        margin-top: -120px;
    }

    .do-you-know-part-two-square-img {
        background-image: none;
    }

    .do-you-know-scribbles-img-bottom {
        margin-top: 20px;
    }

    /* dasar-aljabar.html : Form Of Operation */
    .form-of-operation {
        background-size: cover;
    }

    .form-of-operation-heading-border-bottom {
        width: 255px;
    }

    .form-of-operation-bottom-line-one {
        display: none;
    }

    .form-of-operation-bottom-line-two {
        margin-top: -20px;
    }

    .form-of-operation-triangle-img {
        width: 200px;
        margin-top: -100px;
    }

    .form-of-operation-rectangle-img {
        width: 300px;
        height: 200px;
        object-fit: cover;
    }

    .form-of-operation-go-img {
        width: 75px;
        margin-left: 210px;
        margin-top: -45px;
    }

    .form-of-operation-border-bottom-img {
        width: 185px;
        margin-top: 25px;
    }

    /* ==== CSS FOR KONVERSI-PECAHAN.html ==== */
    .jumbotron-konversi-pecahan-img {
        width: 95vw;
        margin-top: 30px;
    }

    /* konversi-pecahan.html : Pecahan Do You Know */
    .pecahan-do-you-know-ruler-img {
        width: 120px;
    }

    .pecahan-do-you-know-img {
        width: 80vw;
        margin-top: 25px;
    }

    /* konversi-pecahan.html : Pecahan How To Convert */
    .pecahan-how-to-convert {
        background-image: url('../images/background-img/bg-image-how-to-convert-without-square.jpg');
        height: 900px;
    }

    .pecahan-how-to-convert-scribbles-top {
        margin-top: -65px;
    }

    .pecahan-how-to-convert-scribbles-bottom {
        margin-top: 60px;
    }

    .heading-pecahan-how-to-convert {
        padding-top: 45px;
    }

    .pecahan-how-to-convert-content {
        padding-top: 20px;
    }

    .pecahan-bottom-1 {
        padding-left: 60px
    }

    .pecahan-bottom-2 {
        padding-left: 30px
    }

    .pecahan-bottom-3 {
        padding-left: 20px;
    }

    .pecahan-how-to-convert-triangle-img {
        position: absolute;
        right: 0;
        width: 150px;
        margin-top: -65px;
    }

    /* CSS FOR ABOUT-AND-CONTACT.html */
    /* about-and-contact.html : About Website */
    .heading-about-website {
        padding-top: 60px !important;
    }

    .section-about-website-border-bottom {
        width: 270px;
    }

    .section-about-website-triangle-img {
        position: absolute;
        right: 0;
        width: 100px;
        margin-top: -155px;
    }

    .section-about-and-contact-ruler-img {
        width: 130px;
        margin-top: -60px !important;
        margin-left: 175px !important;
        display: flex;
        margin: auto;
    }

    .section-about-and-contact-scribbles-top {
        position: absolute;
        width: 180px;
    }

    /* about-and-contact.html : About Us */
    .section-about-us {
        padding-top: 40px;
    }

    .section-about-us-boy-img {
        width: 300px;
        margin-top: 100px;
        display: flex;
        margin: auto;
    }

    .section-about-us-go-img {
        position: absolute;
        width: 70px;
        margin-top: -330px;
        margin-left: 215px;
    }

    .section-about-us-border-bottom {
        width: 270px;
    }

    .section-about-website-new-line {
        display: none;
    }

    /* about-and-contact.html : Contact Us */
    .section-contact-us {
        background-image: url('../images/background-img/bg-header.jpg');
        height: 700px;
    }

    .heading-contact-us {
        padding-top: 90px;
    }

    .section-contact-us-scribbles-top {
        display: flex;
        float: right;
        width: 200px;
        margin-top: -25px;
    }

    .section-contact-us-triangle-img {
        position: absolute;
        width: 95px;
        margin-top: -145px;
    }

    .section-contact-us-border-bottom {
        width: 270px;
    }

    .section-contact-us-content {
        padding-top: 50px;
    }

    .contact-us-link {
        font-size: 17px !important;
    }

    .section-contact-us-scribbles-bottom {
        display: flex;
        float: left;
        width: 150px;
        margin-top: 100px;
    }

    .contact-us-content-bottom {
        margin-top: 10px;
    }

    .contact-us-socmed-btn {
        margin-top: -45px;
        margin-left: 100px;
    }
}

/* ==== Extra small devices (portrait phones, min-width 353px and max-width 580px) ==== */
@media (min-width: 373px) and (max-width: 580px) {

    /* ==== CSS FOR ALL PAGE ==== */
    p {
        font-size: 19px;
    }

    /* Navbar */
    .navbar {
        background-image: url('../images/background-img/bg-header.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.25);
    }

    /* Jumbotron height for extra small device */
    .jumbotron {
        height: 350px;
    }

    .jumbotron-homepage-img {
        width: 95vw;
        margin-top: 35px;
    }


    /* ==== CSS FOR INDEX.HTML ==== */
    /* index.html : Jumbotron */
    .scroll-down {
        margin-top: -50px;
    }

    .scroll-down-icon-img {
        width: 100px;
    }

    /* index.html : Subject */
    .subject-img {
        width: 85vw;
    }

    .subject-go-img {
        width: 100px;
        margin-left: 225px;
        margin-bottom: -35px;
    }

    .subject-scribbles-img {
        width: 150px;
    }

    /* index.html : About and Contact */
    .about-and-contact {
        height: 880px;
    }

    .socmed {
        font-size: 19px;
    }

    .about-and-contact-triangle {
        width: 160px;
        margin-left: 165px !important;
        margin-top: 15px;
    }

    /* index.html : Footer */
    .footer {
        height: 60px;
    }

    /* ==== CSS FOR DASAR-ALJABAR.HTML ==== */
    /* Jumbotron Dasar Aljabar */
    .jumbotron-dasar-aljabar-img {
        width: 90vw;
        margin-top: 30px;
    }

    /* dasar-aljabar.html : Do You Know (Part One) */
    .do-you-know-girl-img {
        width: 85vw;
    }

    /* dasar-aljabar.html : Do You Know (Part Two)*/
    .do-you-know-scribbles-img-top {
        margin-top: -120px;
    }

    .do-you-know-part-two-square-img {
        background-image: none;
    }

    .do-you-know-scribbles-img-bottom {
        margin-top: 20px;
    }

    .do-you-know-boy-with-ruler-img {
        width: 85vw;
        margin: auto;
    }

    /* dasar-aljabar.html : Form Of Operation */
    .form-of-operation {
        background-size: cover;
    }

    .form-of-operation-heading-border-bottom {
        width: 255px;
    }

    .form-of-operation-bottom-line-one {
        display: none;
    }

    .form-of-operation-bottom-line-two {
        margin-top: -20px;
    }

    .form-of-operation-triangle-img {
        width: 200px;
        margin-top: -100px;
    }

    .form-of-operation-rectangle-img {
        width: 300px;
        height: 200px;
        object-fit: cover;
    }

    .form-of-operation-go-img {
        width: 75px;
        margin-left: 245px;
        margin-top: -45px;
    }

    .form-of-operation-border-bottom-img {
        width: 240px;
        margin-top: 25px;
    }

    /* ==== CSS FOR KONVERSI-PECAHAN.html ==== */
    /* Jumbotron konversi pecahan */
    .jumbotron-konversi-pecahan-img {
        width: 95vw;
        margin-top: 30px;
    }

    /* konversi-pecahan.html : Pecahan Do You Know */
    .pecahan-do-you-know {
        height: 950px;
    }

    .pecahan-how-to-convert {
        height: 970px;
    }

    .pecahan-do-you-know-ruler-img {
        width: 120px;
    }

    .pecahan-do-you-know-img {
        width: 80vw;
        margin-top: 25px;
    }

    /* konversi-pecahan.html : Pecahan How To Convert */
    .pecahan-how-to-convert-scribbles-top {
        margin-top: -65px;
    }
    
    .pecahan-how-to-convert {
        background-image: url('../images/background-img/bg-image-how-to-convert-without-square.jpg');
    }

    .pecahan-how-to-convert {
        background-image: url('../images/background-img/bg-image-how-to-convert-without-square.jpg');
    }

    .pecahan-how-to-convert-scribbles-bottom {
        margin-top: 115px;
    }

    .heading-pecahan-how-to-convert {
        padding-top: 45px;
    }

    .pecahan-how-to-convert-content {
        padding-top: 15px;
    }

    .pecahan-bottom-1 {
        padding-left: 60px
    }

    .pecahan-bottom-2 {
        padding-left: 30px
    }

    .pecahan-bottom-3 {
        padding-left: 20px;
    }

    .pecahan-how-to-convert-triangle-img {
        position: absolute;
        right: 0;
        width: 200px;
        margin-top: -65px;
    }

    /* CSS FOR ABOUT-AND-CONTACT.html */
    /* about-and-contact.html : About Website */
    .section-about-website-border-bottom {
        width: 270px;
    }

    .section-about-website-triangle-img {
        position: absolute;
        right: 0;
        width: 100px;
        margin-top: -145px;
    }

    .section-about-and-contact-ruler-img {
        width: 130px;
        margin-top: -60px !important;
        margin-left: 235px !important;
        display: flex;
        margin: auto;
    }

    .section-about-and-contact-scribbles-top {
        position: absolute;
        width: 180px;
    }

    /* about-and-contact.html : About Us */
    .section-about-us {
        padding-top: 40px;
    }

    .section-about-us-boy-img {
        width: 300px;
        margin-top: 100px;
        display: flex;
        margin: auto;
    }

    .section-about-us-go-img {
        position: absolute;
        width: 80px;
        margin-top: -335px;
        margin-left: 290px;
    }

    .section-about-us-border-bottom {
        width: 270px;
    }

    /* about-and-contact.html : Contact Us */
    .section-contact-us {
        background-image: url('../images/background-img/bg-header.jpg');
        height: 700px;
    }

    .heading-contact-us {
        padding-top: 90px;
    }

    .section-contact-us-scribbles-top {
        display: flex;
        float: right;
        width: 200px;
        margin-top: -25px;
    }

    .section-contact-us-triangle-img {
        position: absolute;
        width: 100px;
        margin-top: -130px;
    }

    .section-contact-us-border-bottom {
        width: 270px;
    }

    .section-contact-us-content {
        padding-top: 50px;
    }

    .contact-us-link {
        font-size: 18px !important;
    }

    .section-contact-us-scribbles-bottom {
        display: flex;
        float: left;
        width: 170px;
        margin-top: 100px;
    }

    .contact-us-content-bottom {
        margin-top: 10px;
    }

    .contact-us-socmed-btn {
        margin-top: -50px;
        margin-left: 100px;
    }
}

/* ==== CSS For min-width 410px and max-width 570px ==== */
@media (min-width: 410px) and (max-width: 570px) {

    /* dasar-aljabar.html : Form of Operation */
    .form-of-operation-go-img {
        width: 75px;
        margin-left: 245px;
        margin-top: -45px;
    }

    /* ==== konversi-pecahan.html : How To Convert */
    .pecahan-how-to-convert {
        background-image: url('../images/background-img/bg-image-how-to-convert-without-square.jpg');
        height: 825px;
    }

    .pecahan-how-to-convert-scribbles-bottom {
        margin-top: 50px;
        position: absolute;
    }

    .pecahan-how-to-convert-triangle-img {
        position: absolute;
        right: 0;
        width: 155px;
        margin-top: -70px;
    }
}

/* ==== CSS For Width 575px ==== */
@media (width: 575px) {

    /* ==== konversi-pecahan.html : How To Convert */
    .pecahan-how-to-convert {
        background-image: url('../images/background-img/bg-image-how-to-convert-without-square.jpg');
        height: 800px;
    }

    .pecahan-how-to-convert-scribbles-top {
        margin-top: -40px;
    }

    .pecahan-how-to-convert-scribbles-bottom {
        margin-top: 100px !important;
    }

    .pecahan-how-to-convert-triangle-img {
        position: absolute;
        right: 0;
        width: 200px;
        margin-top: -85px;
    }
}

/* ==== Small devices (landscape phones, min width 480px and max width 767.98px) ==== */
@media (min-width: 480px) and (max-width: 767.98px) {

    /* ==== CSS FOR ALL PAGE ==== */
    p {
        font-size: 19px;
    }

    /* Navbar */
    .navbar {
        background-image: url('../images/background-img/bg-header.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.25);
    }

    /* Jumbotron height for extra small device */
    .jumbotron {
        height: 400px;
    }

    .jumbotron-homepage-img {
        width: 500px;
    }


    /* ==== CSS FOR INDEX.HTML ==== */
    /* index.html : Jumbotron */
    .scroll-down {
        margin-top: -75px;
    }

    .scroll-down-icon-img {
        width: 100px;
    }

    /* index.html : Subject */
    .subject-img {
        width: 400px;
        object-fit: cover;
    }

    .subject-go-img {
        width: 100px;
        margin-left: 225px;
        margin-bottom: -35px;
    }

    .subject-scribbles-img {
        width: 150px;
    }

    /* index.html : About and Contact */
    .about-and-contact {
        height: 850px;
    }

    .socmed {
        font-size: 19px;
    }

    .about-and-contact-triangle {
        width: 160px;
        margin-left: 165px !important;
        margin-top: 15px;
    }

    /* index.html : Footer */
    .footer {
        height: 60px;
    }

    /* ==== CSS FOR DASAR-ALJABAR.HTML ==== */

    /* dasar-aljabar.html : Do You Know (Part One) */
    .do-you-know-girl-img {
        width: 85vw;
    }

    /* dasar-aljabar.html : Do You Know (Part Two)*/
    .do-you-know-boy-with-ruler-img {
        width: 85vw;
    }

    /* dasar-aljabar.html : Form Of Operation */
    .form-of-operation {
        background-size: contain;
    }

    .form-of-operation-heading-border-bottom {
        width: 255px;
    }

    .form-of-operation-bottom-line-one {
        display: none;
    }

    .form-of-operation-bottom-line-two {
        margin-top: -20px;
    }

    .form-of-operation-triangle-img {
        width: 200px;
        margin-top: -80px;
    }

    .form-of-operation-rectangle-img {
        width: 300px;
        height: 200px;
        object-fit: cover;
    }

    .form-of-operation-go-img {
        width: 75px;
        margin-left: 325px;
        margin-top: -35px;
    }

    .form-of-operation-border-bottom-img {
        width: 240px;
        margin-top: 25px;
    }

    /* ==== CSS FOR KONVERSI-PECAHAN.html ==== */
    /* konversi-pecahan.html : Pecahan How To Convert */
    .pecahan-how-to-convert {
        background-image: url('../images/background-img/bg-image-how-to-convert-without-square.jpg');
        height: 825px;
    }

    .pecahan-how-to-convert-scribbles-top {
        margin-top: -60px;
    }

    .pecahan-how-to-convert-scribbles-bottom {
        margin-top: 70px;
    }

    .heading-pecahan-how-to-convert {
        padding-top: 45px;
    }

    .pecahan-how-to-convert-content {
        padding-top: 20px;
    }

    .pecahan-bottom-1 {
        padding-left: 60px
    }

    .pecahan-bottom-2 {
        padding-left: 30px
    }

    .pecahan-bottom-3 {
        padding-left: 20px;
    }

    .pecahan-how-to-convert-triangle-img {
        position: absolute;
        right: 0;
        width: 200px;
        margin-top: -100px;
    }

    /* CSS FOR ABOUT-AND-CONTACT.html */
    /* about-and-contact.html : About Website */
    .section-about-website-border-bottom {
        width: 270px;
    }

    .section-about-website-triangle-img {
        width: 100px;
        position: absolute;
        right: 0;
        margin-top: -130px;
    }

    .section-about-and-contact-ruler-img {
        width: 130px;
        margin-top: -60px !important;
        margin-left: 300px !important;
        display: flex;
        margin: auto;
    }

    .section-about-and-contact-scribbles-top {
        position: absolute;
        width: 200px;
    }

    /* about-and-contact.html : About Us */
    .section-about-us-boy-img {
        width: 300px;
        margin-top: 100px;
        display: flex;
        margin: auto;
    }

    .section-about-us-go-img {
        position: absolute;
        width: 80px;
        margin-top: -335px;
        margin-left: 290px;
    }

    .section-about-us-border-bottom {
        width: 270px;
    }

    .section-about-website-new-line {
        display: none;
    }

    /* about-and-contact.html : Contact Us */
    .section-contact-us {
        background-image: url('../images/background-img/bg-header.jpg');
        height: 700px;
    }

    .heading-contact-us {
        padding-top: 90px;
    }

    .section-contact-us-scribbles-top {
        display: flex;
        float: right;
        width: 250px;
        margin-top: -35px;
    }

    .section-contact-us-triangle-img {
        position: absolute;
        width: 115px;
        margin-top: -85px;
    }

    .section-contact-us-border-bottom {
        width: 270px;
    }

    .contact-us-link {
        font-size: 18px !important;
    }

    .section-contact-us-scribbles-bottom {
        display: flex;
        float: left;
        width: 200px;
        margin-top: 100px;
    }

    .contact-us-content-bottom {
        margin-top: 10px;
    }

    .contact-us-socmed-btn {
        margin-top: -50px;
        margin-left: 100px;
    }
}

/* ==== Medium devices (tablets, 768px and up) ==== */
@media (min-width: 768px) and (max-width: 991.98px) {

    /* ==== CSS FOR ALL PAGE ==== */
    p {
        font-size: 25px;
    }

    /* Navbar */
    .navbar {
        background-image: url('../images/background-img/bg-header.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.25);
    }

    /* Jumbotron */
    .jumbotron {
        height: 550px;
    }

    /* ==== CSS FOR INDEX.HTML ==== */
    .jumbotron-homepage-img {
        width: 95vw;
    }

    .scroll-down {
        margin-top: -90px;
    }

    .scroll-down-icon-img {
        width: 125px;
    }

    /* index.html : Subject */
    .subject-img {
        width: 350px;
    }

    .subject-go-img {
        width: 100px;
        margin-left: 225px;
        margin-bottom: -35px;
    }

    /* index.html : About and Contact */
    .about-and-contact-triangle {
        width: 160px;
        margin-left: 80px;
        margin-top: 15px;
    }

    .socmed {
        font-size: 25px;
    }

    /* index.html : Footer */
    .footer {
        height: 55px;
    }

    /* ==== CSS FOR DASAR-ALJABAR.HTML ==== */
    /* dasar-aljabar.html : Jumbotron */
    .jumbotron-dasar-aljabar-img {
        width: 80vw;
        object-fit: cover;
    }

    /* dasar-aljabar.html : Do You Know (Part One) */
    .do-you-know-girl-img {
        width: 300px;
    }

    /* dasar-aljabar.html : Do You Know (Part Two) */
    .do-you-know-part-two {
        height: 835px;
    }

    .do-you-know-scribbles-img-top {
        width: 250px;
        margin-top: -120px;
    }

    .do-you-know-scribbles-img-bottom {
        width: 250px;
    }

    .do-you-know-boy-with-ruler-img {
        width: 380px;
        margin-top: 55px;
    }

    .form-of-operation-triangle-img {
        margin-top: -100px !important;
    }

    .form-of-operation-bottom-line-one {
        display: none;
    }

    .form-of-operation-bottom-line-two {
        margin-top: -20px;
    }

    /* dasar-aljabar.html : Form of Operation */
    .form-of-operation {
        background-size: contain;
    }

    .form-of-operation-heading-border-bottom {
        width: 270px;
    }

    .form-of-operation-triangle-img {
        width: 200px;
        margin-top: 55px;
        display: none;
    }

    .form-of-operation-rectangle-img {
        width: 600px;
        height: 300px;
        object-fit: cover;
    }

    .form-of-operation-go-img {
        width: 100px;
        margin-left: 425px;
        margin-top: -50px;
    }

    .form-of-operation-border-bottom-img {
        width: 250px;
        margin-top: 10px;
    }

    /* ==== CSS FOR KONVERSI-PECAHAN.html ==== */
    .pecahan-how-to-convert {
        height: 950px;
    }

    /* konversi-pecahan.html : Jumbotron */
    .jumbotron-konversi-pecahan-img {
        width: 90vw;
        margin-top: 10px;
        margin: auto !important;
    }

    /* konversi-pecahan.html : Pecahan Do You Know */
    .pecahan-do-you-know {
        height: 700px;
    }

    .pecahan-do-you-know-ruler-img {
        width: 150px;
        margin-right: 30px;
        margin-top: -100px;
    }

    .pecahan-do-you-know-content {
        padding-top: 15px;
    }

    .pecahan-do-you-know-img {
        width: 355px;
        margin-top: 25px;
    }

    /* konversi-pecahan.html : Pecahan How To Convert */
    .pecahan-how-to-convert {
        background-image: url('../images/background-img/bg-image-how-to-convert-without-square.jpg');
        height: 800px;
    }

    .pecahan-how-to-convert-scribbles-top {
        width: 300px;
        margin-top: -75px;
    }

    .pecahan-how-to-convert-scribbles-bottom {
        width: 300px;
        margin-top: -5px;
    }

    .heading-pecahan-how-to-convert {
        padding-top: 75px;
    }

    .pecahan-how-to-convert-content {
        padding-top: 25px;
    }

    .pecahan-bottom-1 {
        padding-left: 55px
    }

    .pecahan-bottom-2 {
        padding-left: 27px
    }

    .pecahan-bottom-3 {
        padding-left: 15px;
    }

    .pecahan-how-to-convert-triangle-img {
        position: absolute;
        right: 0;
        width: 260px;
    }

    /* CSS FOR ABOUT-AND-CONTACT.html */
    /* about-and-contact.html : About Website */
    .section-about-website-border-bottom {
        width: 270px;
    }

    .section-about-website-triangle-img {
        width: 170px;
        position: absolute;
        right: 0;
        margin-top: -130px;
    }

    .section-about-and-contact-ruler-img {
        width: 200px;
        position: absolute;
        right: 0;
        margin-top: -80px;
        margin-right: 100px;
    }

    .section-about-and-contact-scribbles-top {
        position: absolute;
        width: 300px;
    }

    /* about-and-contact.html : About Us */
    .section-about-us {
        padding-top: 100px;
    }

    .section-about-us-boy-img {
        width: 350px;
        margin-top: 100px;
    }

    .section-about-us-go-img {
        position: absolute;
        width: 80px;
        margin-top: -375px;
        margin-left: 260px;
    }

    .section-about-us-border-bottom {
        width: 270px;
    }

    /* about-and-contact.html : Contact Us */
    .section-contact-us {
        background-image: url('../images/background-img/bg-header.jpg');
        height: 700px;
    }

    .heading-contact-us {
        padding-top: 80px;
    }

    .section-contact-us-scribbles-top {
        display: flex;
        float: right;
        width: 300px;
        margin-top: -37px;
    }

    .section-contact-us-triangle-img {
        position: absolute;
        width: 150px;
        margin-top: -85px;
        margin-left: 40px;
    }

    .section-contact-us-border-bottom {
        width: 270px;
    }

    .section-contact-us-content {
        padding-top: 150px;
    }

    .contact-us-link {
        font-size: 20px !important;
    }

    .section-contact-us-scribbles-bottom {
        display: flex;
        float: left;
        width: 300px;
        margin-top: 100px;
    }

    .contact-us-content-bottom {
        margin-top: 50px;
    }

    .contact-us-socmed-btn {
        margin-top: -100px;
        margin-left: 100px;
    }
}

/* ==== Large devices (desktops, 992px and up) ==== */
@media (min-width: 992px) and (max-width: 1199.98px) {

    /* ==== CSS FOR ALL PAGE ==== */
    p {
        font-size: 25px;
    }

    /* Navbar */
    .navbar.navbar-active {
        background-image: url('../images/background-img/bg-header.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.25);
    }

    .nav-menu.active::after {
        content: '';
        display: block;
        border-bottom: 2px solid #ffffff;
    }

    /* ==== CSS FOR INDEX.HTML ==== */
    /* index.html : Jumbotron Homepage */
    .jumbotron {
        height: 565px;
    }

    .scroll-down {
        margin-top: -100px;
    }

    .scroll-down-icon-img {
        width: 125px;
    }

    .subject-img {
        width: 415px;
        object-fit: cover;
    }

    .subject-go-img {
        width: 115px;
        margin-left: 230px;
        margin-bottom: -40px;
    }

    /* index.html : About and Contact */
    .about-and-contact {
        height: 550px;
    }

    .socmed {
        font-size: 25px;
    }

    .about-and-contact-triangle {
        width: 175px;
        margin-left: 150px !important;
        margin-top: 15px;
    }

    /* index.html : Footer */
    .footer {
        height: 60px;
    }

    /* ==== CSS FOR DASAR-ALJABAR.HTML ==== */
    /* dasar-aljabar.html : Jumbotron Dasar Aljabar */
    .jumbotron-dasar-aljabar-img {
        width: 75vw;
    }

    /* dasar-aljabar.html : Do You Know (Part One)*/
    .do-you-know-girl-img {
        width: 400px;
    }

    /* dasar-aljabar.html : Do You Know (Part Two)*/
    .do-you-know-scribbles-img-top {
        margin-top: -125px;
        width: 300px;
    }

    .do-you-know-part-two-square-img {
        background-image: url('../images/shapes-img/square.png');
    }

    .do-you-know-scribbles-img-bottom {
        margin-top: 5px;
        width: 300px;
    }

    .do-you-know-part-two-square-img {
        background-size: cover;
        height: 600px;
        width: 600px;
        padding-top: 50px;
        padding-left: 65px;
    }

    .do-you-know-content-text {
        padding-top: 30px;
    }

    .do-you-know-boy-with-ruler-img {
        width: 455px;
        margin-left: 50px;
    }

    /* dasar-aljabar.html : Form Of Operation */
    .form-of-operation {
        background-size: contain;
    }

    .form-of-operation-heading-border-bottom {
        width: 255px;
    }

    .form-of-operation-rectangle-img {
        width: 600px;
        height: 300px;
        object-fit: cover;
    }

    .form-of-operation-triangle-img {
        width: 200px;
        margin-top: 160px;
    }

    .form-of-operation-go-img {
        width: 100px;
        margin-left: 550px;
        margin-top: -50px;
    }

    .form-of-operation-border-bottom-img {
        width: 300px;
    }

    /* Top Footer */
    .top-footer-about-content-wrapper {
        padding-left: 90px;
    }

    .top-footer-contact-content-wrapper {
        font-size: 30px;
        padding-left: 110px;
    }

    /* ==== CSS FOR KONVERSI-PECAHAN.html ==== */
    /* Jumbotron */
    .jumbotron-konversi-pecahan-img {
        width: 80vw;
    }

    /* konversi-pecahan.html : Do You Know */
    .pecahan-do-you-know {
        height: 650px;
    }

    .pecahan-do-you-know-ruler-img {
        width: 150px;
        margin-right: 90px;
        margin-top: -100px;
    }

    .pecahan-do-you-know-content {
        padding-top: 15px;
    }

    .pecahan-do-you-know-img {
        width: 415px;
    }

    /* konversi-pecahan.html : Pecahan How To Convert */
    .pecahan-how-to-convert {
        height: 770px;
        background-image: url('../images/background-img/bg-image-how-to-convert-without-square.jpg');
    }

    .pecahan-how-to-convert-scribbles-top {
        width: 300px;
        margin-top: -80px;
    }

    .pecahan-how-to-convert-scribbles-bottom {
        width: 300px;
        margin-top: 15px;
    }

    .heading-pecahan-how-to-convert {
        padding-top: 55px;
    }

    .pecahan-how-to-convert-content {
        padding-left: 14px;
        padding-top: 15px;
    }

    .pecahan-bottom-1 {
        padding-left: 75px
    }

    .pecahan-bottom-2 {
        padding-left: 45px
    }

    .pecahan-bottom-3 {
        padding-left: 25px;
    }

    .pecahan-how-to-convert-triangle-img {
        display: flex;
        width: 300px;
        float: right;
        margin-top: 20px;
    }

    /* CSS FOR ABOUT-AND-CONTACT.html */
    /* about-and-contact.html : About Website */
    .section-about-website-border-bottom {
        width: 270px;
    }

    .section-about-website-triangle-img {
        width: 200px;
        position: absolute;
        right: 0;
        margin-top: -130px;
    }

    .section-about-and-contact-ruler-img {
        width: 220px;
        position: absolute;
        right: 0;
        margin-top: -115px;
        margin-right: 100px;
    }

    .section-about-and-contact-scribbles-top {
        position: absolute;
        width: 300px;
    }

    /* about-and-contact.html : About Us */
    .section-about-us {
        padding-top: 100px;
    }

    .section-about-us-boy-img {
        width: 450px;
    }

    .section-about-us-go-img {
        position: absolute;
        width: 100px;
        margin-top: -25px;
        margin-left: -100px;
    }

    .section-about-us-border-bottom {
        width: 270px;
    }

    /* about-and-contact.html : Contact Us */
    .section-contact-us {
        background-image: url('../images/background-img/bg-header.jpg');
        height: 768px;
    }

    .heading-contact-us {
        padding-top: 100px;
    }

    .section-contact-us-scribbles-top {
        display: flex;
        float: right;
        width: 300px;
        margin-top: -37px;
    }

    .section-contact-us-triangle-img {
        position: absolute;
        width: 150px;
        margin-top: -85px;
        margin-left: 40px;
    }

    .section-contact-us-border-bottom {
        width: 270px;
    }

    .section-contact-us-content {
        padding-top: 150px;
    }

    .contact-us-link {
        font-size: 20px !important;
    }

    .section-contact-us-scribbles-bottom {
        position: absolute;
        left: 0;
        width: 300px;
        margin-left: 40px;
    }

    .contact-us-content-bottom {
        margin-top: 220px;
    }

    .contact-us-socmed-btn {
        position: absolute;
        left: 0;
        margin-top: 30px;
    }
}

/* ==== Extra large devices (large desktops, 1200px and up) ==== */
@media (min-width: 1200px) {

    /* ==== CSS FOR ALL PAGE ==== */
    p {
        font-size: 25px;
    }

    /* Navbar */
    .navbar.navbar-active {
        background-image: url('../images/background-img/bg-header.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.25);
    }

    .nav-menu.active::after {
        content: '';
        display: block;
        border-bottom: 2px solid #ffffff;
    }

    /* Jumbotron height for all page */
    .jumbotron {
        height: 700px !important;
    }

    /* ==== CSS FOR INDEX.HTML ==== */
    /* index.html : Jumbotron Homepage */
    .jumbotron-homepage-img {
        width: 70vw;
        margin-top: 30px;
    }

    .scroll-down {
        margin-top: -95px;
    }

    .scroll-down-icon-img {
        width: 125px;
    }

    .subject-img {
        width: 415px;
        object-fit: cover;
    }

    .subject-go-img {
        width: 115px;
        margin-left: 230px;
        margin-bottom: -40px;
    }

    /* index.html : About and Contact */
    .about-and-contact {
        height: 550px;
    }

    .socmed {
        font-size: 25px;
    }

    .about-and-contact-triangle {
        width: 200px;
        margin-left: 200px !important;
        margin-top: 15px;
    }

    /* index.html : Footer */
    .footer {
        height: 60px;
    }

    /* ==== CSS FOR DASAR-ALJABAR.HTML ==== */
    /* dasar-aljabar.html : Jumbotron Dasar Aljabar */
    .jumbotron-dasar-aljabar-img {
        width: 70vw;
    }

    /* dasar-aljabar.html : Do You Know (Part One)*/
    .do-you-know-girl-img {
        width: 400px;
    }

    /* dasar-aljabar.html : Do You Know (Part Two)*/
    .do-you-know-scribbles-img-top {
        margin-top: -125px;
        width: 300px;
    }

    .do-you-know-part-two-square-img {
        background-image: url('../images/shapes-img/square.png');
    }

    .do-you-know-scribbles-img-bottom {
        margin-top: 5px;
        width: 300px;
    }

    .do-you-know-part-two-square-img {
        background-size: cover;
        height: 600px;
        width: 600px;
        padding-top: 50px;
        padding-left: 65px;
    }

    .do-you-know-content-text {
        padding-top: 30px;
    }

    .do-you-know-boy-with-ruler-img {
        width: 525px;
    }

    /* dasar-aljabar.html : Form Of Operation */
    .form-of-operation-heading-border-bottom {
        width: 255px;
    }

    .form-of-operation-rectangle-img {
        width: 600px;
        height: 300px;
        object-fit: cover;
    }

    .form-of-operation-triangle-img {
        width: 200px;
        margin-top: 160px;
    }

    .form-of-operation-go-img {
        width: 100px;
        margin-left: 640px;
        margin-top: -45px;
    }

    .form-of-operation-border-bottom-img {
        width: 300px;
    }

    /* Top Footer */
    .top-footer-about-content-wrapper {
        padding-left: 120px;
    }

    .top-footer-contact-content-wrapper {
        font-size: 30px;
        padding-left: 110px;
    }

    /* ==== CSS FOR KONVERSI-PECAHAN.html ==== */
    /* Jumbotron */
    .jumbotron-konversi-pecahan-img {
        width: 70vw;
    }

    /* konversi-pecahan.html : Pecahan Do You Know */
    .pecahan-do-you-know {
        height: 650px;
    }

    .pecahan-do-you-know-ruler-img {
        width: 150px;
        margin-right: 215px;
        margin-top: -100px;
    }

    .pecahan-do-you-know-content {
        padding-top: 15px;
    }

    .pecahan-do-you-know-img {
        width: 415px;
    }

    /* konversi-pecahan.html : Pecahan How To Convert */
    .pecahan-how-to-convert {
        height: 800px;
        background-image: url('../images/background-img/bg-image-how-to-convert-with-square.jpg');
        background-position: center;
    }

    .pecahan-how-to-convert-scribbles-top {
        width: 400px;
        margin-top: -100px;
        margin-right: 150px;
    }

    .pecahan-how-to-convert-scribbles-bottom {
        width: 350px;
        margin-top: 50px;
        margin-left: 100px;
    }

    .heading-pecahan-how-to-convert {
        padding-top: 55px;
    }

    .pecahan-how-to-convert-content {
        padding-left: 14px;
        padding-top: 35px;
    }

    .pecahan-bottom-1 {
        padding-left: 75px
    }

    .pecahan-bottom-2 {
        padding-left: 45px
    }

    .pecahan-bottom-3 {
        padding-left: 25px;
    }

    .pecahan-how-to-convert-triangle-img {
        width: 250px;
        margin-top: 5px;
    }

    /* CSS FOR ABOUT-AND-CONTACT.html */
    /* about-and-contact.html : About Website */
    .section-about-website-border-bottom {
        width: 270px;
    }

    .section-about-website-triangle-img {
        width: 200px;
        position: absolute;
        right: 0;
        margin-top: -130px;
    }

    .section-about-and-contact-ruler-img {
        width: 220px;
        position: absolute;
        right: 0;
        margin-top: -115px;
        margin-right: 100px;
    }

    .section-about-and-contact-scribbles-top {
        position: absolute;
        width: 300px;
    }

    /* about-and-contact.html : About Us */
    .section-about-us {
        padding-top: 100px;
    }

    .section-about-us-boy-img {
        width: 450px;
    }

    .section-about-us-go-img {
        position: absolute;
        width: 100px;
        margin-top: -25px;
        margin-left: -100px;
    }

    .section-about-us-border-bottom {
        width: 270px;
    }

    /* about-and-contact.html : Contact Us */
    .section-contact-us {
        background-image: url('../images/background-img/bg-contact-with-square.jpg');
<<<<<<< HEAD
        height: 800px;
=======
        height: 768px;
>>>>>>> dc0c4bf8132be0b350e14d6aae178116f218f41d
    }

    .heading-contact-us {
        padding-top: 100px;
    }

    .section-contact-us-scribbles-top {
        display: flex;
        float: right;
        width: 300px;
        margin-top: -37px;
    }

    .section-contact-us-triangle-img {
        position: absolute;
        width: 150px;
        margin-top: -85px;
        margin-left: 40px;
    }

    .section-contact-us-border-bottom {
        width: 270px;
    }

    .section-contact-us-content {
        padding-top: 150px;
    }

    .contact-us-link {
        font-size: 20px !important;
    }

    .section-contact-us-scribbles-bottom {
        position: absolute;
        left: 0;
        width: 300px;
        margin-left: 40px;
    }

    .contact-us-content-bottom {
        margin-top: 220px;
    }

    .contact-us-socmed-btn {
        position: absolute;
        left: 0;
        margin-top: 30px;
    }
}